<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HellaTypo</title>

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main>
    <div id="typing-test"> // -- PLACEHOLDER -- // </div>
  </main>
</body>

<script type="module">
  import { TextHandler, ElementHandler, CursorHandler } from "./script.js"

  loadSourceText();

  function loadSourceText() {
    const sourceText = "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit ipsum ex eveniet qui quisquam consequatur, culpa placeat veniam quis, quidem enim. Harum enim dolorum libero vel nemo ratione minus accusantium?";

    const textHandler = new TextHandler(sourceText);
    const elementHandler = new ElementHandler("#typing-test");

    const wordList = textHandler.getWordList();
    const spanList = elementHandler.createSpanList(wordList, "word");

    elementHandler.appendSpanList(spanList);

    // gambiarra malaca pra testar o código
    const wordSpanList = document.querySelectorAll(".word");

    wordSpanList.forEach((wordSpan) => {
      const text = wordSpan.innerText;
      const textList = text.split("");

      const spanList = textList.map((letter) => {
        const span = document.createElement("span");

        span.innerText = letter;
        span.classList.add("letter");

        return span;
      });

      wordSpan.innerHTML = "";
      spanList.forEach((span) => wordSpan.appendChild(span));
    });
    // fim da gambiarra

    document.
      querySelector("#typing-test").
      querySelector(".word").
      querySelector(".letter").
      classList.add("cursor");

    // criar elemento
    // injetar texto
    // pegar elemento com querySelectorAll
    // percorrer lista
    // pegar texto
    // limpar elemento
    // separar texto por espaços
    // criar lista de spans
    // adicionar spans ao elemento
  }



  const textWrapper = document.querySelector("#typing-test");
  const textCursorHandler = new CursorHandler(textWrapper);

  addEventListener("keydown", (event) => {
    const { key } = event;

    const next = () => textCursorHandler.next();
    const previous = () => textCursorHandler.previous();

    const func = {
      "ArrowLeft": previous,
      "ArrowRight": next,
    };

    func[key] && func[key]();
  });
</script>

</html>